.code-sample {
  width: 75%;
}

.code-sample code {
  font-size: 0.7em;
  --clr-text: #f9cfff;
}

.code-sample-result {
  width: 75%;
}

.code-sample-container {
  justify-content: center;
  align-items: center;
  flex: 1;
}
