.code-sample {
  width: 75%;
}

.code-sample-result {
  width: 75%;
}

@media (max-width: 829px) {
  .code-sample {
    width: 95%;
  }

  .code-sample-result {
    width: 95%;
  }
}

.code-sample-result .result-content {
  margin-left: 0.75em;
  margin-right: 0.75em;
}

.code-sample-container {
  justify-content: center;
  align-items: center;
  flex: 1;
  max-width: 100%;
}

.dark-theme {
  .code-sample pre {
    background: var(--clr-bg-2);
    border-radius: 8px;
    padding-left: 1em;
  }
}

.light-theme {
  .code-sample pre {
    background: var(--clr-bg-2);
    border-radius: 8px;
    padding-left: 1em;
  }
}

/* unset rules applied by adwavecss due to class name clash */
.code-sample pre code {
  & .selector.selector.selector {
    font-family: Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;
    font-size: 1em;
    background: none;
    display: inline;
    transition: none;
    height: unset;
    cursor: inherit;
    border: none;
    position: static;

    &:active, &:hover {
      background: none;
    }
  }
}
