.code-sample {
  width: 75%;
}

.code-sample-result {
  width: 75%;
}

@media (max-width: 829px) {
  .code-sample {
    width: 95%;
  }

  .code-sample-result {
    width: 95%;
  }
}

.code-sample-result .result-content {
  margin-left: 0.75em;
  margin-right: 0.75em;
}

.code-sample-container {
  justify-content: center;
  align-items: center;
  flex: 1;
  max-width: 100%;
}
