.example-section {
  width: clamp(550px, 65vw, 80vw);
  align-items: center;
  padding-bottom: 2em;
}

.example-section-content {
  max-width: 100%;
}

.example-section p {
  place-self: flex-start;
  margin-left: calc(12.5%);
  max-width: 75%;
}

@media (max-width: 829px) {
  .example-section.example-section {
    width: clamp(350px, 80vw, 95vw);
    padding-left: 0.25em;
    padding-right: 0.25em;
  }

  .example-section.example-section p {
    margin-left: calc(12.5% - 0.7 * 2.85em);
    max-width: 95%;
  }

  .example-section.example-section h5 {
    max-width: 95%;
    margin-top: 0.2em;
  }
}

.example-section h5 {
  place-self: flex-start;
  margin-left: calc(12.5% - 0.7 * 2.85em);
  max-width: 75%;
  margin-bottom: 0px;
}

.example-section:not(:last-child) {
  margin-bottom: 2em;
}

.example-section h5 {
  display: flex;
  align-items: center;
}

.header-anchor.header-anchor {
  font-size: 0.7em;
  object-fit: contain;
  margin-right: 0.35em;
  padding: 4px;
}

#link-light,
#link-dark {
  display: none;
}

.light-theme .header-anchor #link-light {
  display: block;
}

.dark-theme .header-anchor #link-dark {
  display: block;
}
