.left-navbar {
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
  margin: 0px 0.3em;
  width: clamp(200px, 20vw, 320px);
}

.left-navbar > .nav-sidebar {
  height: 100%;
  overflow: auto;
}

.left-navbar > .separator {
  margin-top: 0.2em;
  margin-left: 0.2em;
  margin: 0.75em 0.5em 0px;
  width: calc(100% - 1em);
}

.nav-sidebar.nav-sidebar {
  justify-content: flex-start;
}

.nav-sidebar .nav-sidebar-btn.nav-sidebar-btn {
  padding: 0.55em 0.7em;
}

.navbar-link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
}

a.navbar-link,
a.navbar-link button {
  cursor: pointer;
}

@media (max-width: 829px) {
  .left-navbar.left-navbar {
    display: none;
  }

  .left-navbar-mobile.left-navbar-mobile {
    display: block;
  }

  .navbar-container {
    position: sticky;
    top: 0;
    left: 0;
  }
}

.left-navbar-mobile {
  display: none;
  width: 100vw;
  z-index: 10;
}

.left-navbar-mobile dialog {
  border: unset;
  margin: unset;
  padding: unset;
  min-width: 100vw;
  min-height: 100vh;
  background-color: transparent;
}

.navbar-overlay-backdrop {
  flex: 1;
  background-color: #00000073;
}

.left-navbar-mobile-overlay {
  width: clamp(10em, 65vw, 85vw);
  min-height: 100vh;
}

.navbar-mobile-btn {
  margin: 0.3em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-mobile-btn .light-theme-img,
.navbar-mobile-btn .dark-theme-img {
  --btn-image-dim: 2em;
  display: none;
  width: var(--btn-image-dim);
  height: var(--btn-image-dim);
}

.dark-theme .navbar-mobile-btn .dark-theme-img {
  display: block;
}

.light-theme .navbar-mobile-btn .light-theme-img {
  display: block;
}

.navbar-dialog {
  position: relative;

  &::backdrop {
    background-color: transparent;
  }

  & .dialog-container {
    flex: 1;
  }

  & .left-navbar-mobile-overlay {
    position: fixed;
    left: -65%;
    animation-duration: 400ms;
    animation-fill-mode: forwards;
    max-height: 100vh;
    overflow-y: auto;
    z-index: 2;

    & > *:last-child {
      /*
      * On mobile the button bar can cover the bottom of the scrollable element
      * add a padding to it so even when that happens the content appears within the view
      */
      padding-bottom: 65px;
    }
  }

  & .navbar-overlay-backdrop {
    min-width: 100vw;
    min-height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    opacity: 0;
    animation-duration: 400ms;
    animation-fill-mode: forwards;
  }

  &[open] {
    display: flex;
    & .left-navbar-mobile-overlay {
      animation-name: slideIn;
    }
    & .navbar-overlay-backdrop {
      animation-name: fadein;
    }
  }

  & .theme-switcher {
    padding-inline: 0.35em;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    left: -75%;
  }
  to {
    left: 0%;
  }
}
