.left-navbar {
  position: sticky;
  top: 0;
  left: 0;
  height: 100vh;
  margin: 0px 0.3em;
  width: clamp(200px, 20vw, 320px);
}

.left-navbar > .nav-sidebar {
  height: 100%;
  overflow: auto;
}

.left-navbar > .separator {
  margin-top: 0.2em;
  margin-left: 0.2em;
  margin: 0.75em 0.5em 0px;
  width: calc(100% - 1em);
}

.nav-sidebar.nav-sidebar {
  justify-content: flex-start;
}

.nav-sidebar .nav-sidebar-btn.nav-sidebar-btn {
  padding: 0.55em 0.7em;
}

.navbar-link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
}

a.navbar-link,
a.navbar-link button {
  cursor: pointer;
}

@media (max-width: 829px) {
  .left-navbar.left-navbar {
    display: none;
  }

  .left-navbar-mobile.left-navbar-mobile {
    display: block;
  }

  .navbar-container {
    position: sticky;
    top: 0;
    left: 0;
  }
}

.left-navbar-mobile {
  display: none;
  width: 100vw;
  z-index: 10;
}

.left-navbar-mobile dialog {
  border: unset;
  margin: unset;
  padding: unset;
  min-width: 100vw;
  min-height: 100vh;
  background-color: #2121214f;
}

.navbar-overlay-backdrop {
  flex: 1;
}

/* .left-navbar-mobile dialog .dialog-container {
  display: flex;
  flex
} */

.left-navbar-mobile-overlay {
  width: 65vw;
  min-height: 100vh;
}

.navbar-mobile-btn {
  margin: 0.3em;
}
