*:not(body, h1, h2, h3, h4, h5, h6) {
  font-size: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Ubuntu, sans-serif;
}

body {
  margin: unset;
  min-height: 100vh;
  display: block !important;
}

#root {
  min-height: 100vh;
}

@media (max-width: 829px) {
  #root {
    flex-direction: column;
  }
}

.flexbox {
  display: flex;
}

.column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

#example-view {
  justify-content: center;
  margin-bottom: 2em;
  flex: 1;
}

.contents {
  display: contents;
}

.extend {
  flex-grow: 1;
  place-self: stretch;
}

@media (max-width: 829px) {
  .input {
    max-width: 50vw;
  }
}
