*:not(body, h1, h2, h3, h4, h5, h6) {
  font-size: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Ubuntu, sans-serif;
}

body {
  margin: unset;
  font-size: 18px;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}

.flexbox {
  display: flex;
}

.column {
  flex-direction: column;
}

.nav-sidebar.nav-sidebar {
  width: 200px;
  justify-content: flex-start;
}

.nav-sidebar .nav-sidebar-btn.nav-sidebar-btn {
  padding: 0.55em 0.7em;
}

.navbar-link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
}

a.navbar-link,
a.navbar-link button {
  cursor: pointer;
}

#example-view {
  width: calc(100% - 200px);
  justify-content: center;
  margin-bottom: 2em;
}

.contents {
  display: contents;
}

.extend {
  flex-grow: 1;
  place-self: stretch;
}
