*:not(body, h1, h2, h3, h4, h5, h6) {
  font-size: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Ubuntu, sans-serif;
}

body {
  margin: unset;
  min-height: 100vh;
  display: block !important;
}

#root {
  min-height: 100vh;
}

@media (max-width: 829px) {
  #root {
    flex-direction: column;
  }
}

.flexbox {
  display: flex;
}

.column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

#example-view {
  justify-content: center;
  margin-bottom: 2em;
  flex: 1;
}

.contents {
  display: contents;
}

.extend {
  flex-grow: 1;
  place-self: stretch;
}

@media (max-width: 829px) {
  .input {
    max-width: 50vw;
  }
}

code.hljs::-webkit-scrollbar {
  background-color: #0000;
  width: 8px;
  height: 8px;
  border-radius: var(--border-radius);
}

code.hljs::-webkit-scrollbar-track {
  margin: 6px;
  border-radius: var(--border-radius);
}

code.hljs::-webkit-scrollbar-thumb {
  background-color: var(--clr-bg-4);
  border-radius: var(--border-radius);
}

code.hljs::-webkit-scrollbar-track:hover {
  background-color: color-mix(in srgb, var(--clr-bg-4), transparent 70%);
}

body:has(dialog[open]) {
  overflow: hidden;
}
